body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100vh;
  background: linear-gradient(
    to bottom,
    rgba(20, 40, 30, 1),
    rgba(40, 70, 55, 1)
  );
}
.navbar {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 10px 20px;
}

.navbar img {
  height: 65px;
  margin-right: 45px;
}

.navbar ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin-right: 20px;
}

.navbar a {
  text-decoration: none;
  color: black;
  padding: 10px 15px;
  display: block;
}   
.navbar a:hover {
  background-color: #b0bd36;
  border-radius: 4px;
}

  .School {
    display: block;
    width: 30%;
    border-radius: 10px;
    margin-top: 20px;
    position: absolute;
    top: 19%;
    left: 65%;
  }